* {
    box-sizing: border-box;
}
.wrapper {
    width: 400px;
    margin: 40px auto 0 auto;
    border: 1px solid rgba(0,0,0, .2);
    padding: 20px;
}
body {
    max-width: 300px;
    margin: 0 auto;
}

button {
    margin-top: 20px;
}

[type=checkbox] {
    margin-top: 20px;
}